
.content{
text-align: center;
margin-top: 30vh;
height: 45vh;

}

.q{
    width: 400px;
    font-size: 20px;
    height: 50px;
    border-radius: 40px;
}

.s{
    border-radius: 40px;
    height: 50px;
}


.logo {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 5vh;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  footer{
      display: block;
      margin: 15vh 0 0 0;
      text-align: center;
  }